{include file='public/meta' }
  <title>栏目管理 - 木鱼内容管理系统</title>
</head>
<body>
<style type="text/css" media="all">
        .pmenu-c{background:#e9e8e8}
        .layui-table .ew-tree-table-indent {margin-right: 5px;padding-left: 16px;}
        .layui-table tr td i{margin-right: 5px;}
    </style>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-body">
		  
		<div class="layui-table-body layui-table-main">
			
			<table class="layui-table" id="mattertable">
					    
			</table>
		</div>
      </div>
    </div>
  </div>

  {include file='public/footer' }
    <script type="text/html" id="rightbar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
	<script type="text/html" id="toptool">
	  <a class="layui-btn layui-btn-danger layuiadmin-btn-useradmin" lay-event="delall">批量删除</a>
	  <a class="layui-btn layuiadmin-btn-useradmin" onclick="openwind('添加栏目','{:url('Category/add')}')">添加</a>
	</script>
  <script>
  layui.config({
    base: '__ADMINST__layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' ,//主入口模块
  }).use(['treeTable','index', 'useradmin'], function(){
      
    var $ = layui.$
    ,form = layui.form
    ,treeTable = layui.treeTable;
    
    
	var insTb = treeTable.render({
            elem: '#mattertable',
            data: {$menu|raw},
			toolbar: '#toptool',
			defaultToolbar:[],
            tree: {
                iconIndex: 2,
                isPidData: true,
                idName: 'id',
                pidName: 'pid'
            },
            cols: [
                { type: 'checkbox', fixed: 'left' }
                ,{ field: 'id', title: 'ID', width: 20, fixed: 'left', unresize: true}
                ,{ field: 'p_title', width: 150, title: '栏目所属'}
                ,{ field: 'title', width: 150, title: '栏目名称'}
                ,{ field: 'ico', title: '栏目ico'}
                ,{ field: 'titlepic', title: '栏目背景'}
                ,{ field: 'comment', title: '栏目描述', unresize: true }
                ,{ field: 'href',title: '栏目地址'}
                ,{ field: 'sort',title: '栏目排序', width: 50, sort: true}
                ,{ field: 'status',title: '栏目状态', templet:function(st){
                    if(st.status == 1){
                        return '<button type="button" onClick="setStatus('+st.id+')" class="layui-btn-xs layui-btn">已启用</button>';
                    }else if(st.status == 0){
                        return '<button type="button" onClick="setStatus('+st.id+')" class="layui-btn-xs layui-btn layui-btn-danger">已隐藏</button>';
                    }else{
                        return '<button type="button" class="layui-btn-xs layui-btn">未知</button>';
                    }
                }}
                ,{ fixed: 'right', title: '操作', toolbar: '#rightbar'}
            ],
            style: 'margin-top:0;'
        });
	treeTable.on('tool(mattertable)', function (obj) {
            var event = obj.event;
            var data = obj.data;
            if (event === 'del') {
                layer.msg('确认删除栏目[-'+data.title+'-]吗?',{
			    time:5000,
			    shade:0.3,
			    btn:['删除','取消'],
			    yes:function() {
				// 执行删除
				$.post("{:url('Category/deletes')}",{id:data.id},function(data){
					layer.msg(data.msg,{time:2000},function(){
				    location.reload();
					});
				});
			}
		    });
            } else if (event === 'edit') {
            layer.open({
            type:2,
            title:"栏目编辑",
            shade:0.3,
            area:['50%','85%'],
            content:"{:url('Category/edit')}"+"?id="+data.id,
            });
            }
    });
	// 头部工具栏点击事件
	treeTable.on('toolbar(mattertable)', function (obj) {
		var event = obj.event;
		var checkid = insTb.checkStatus();
	    if(event === "delall"){
			if(checkid.length == 0){
				layer.msg("未选择数据",{time:2000});
			}else{
				layer.confirm("确定要删除选中的所有数据", function (index) {
				    //把所有选中的数据的id封装到一个数组中
				    var ids = new Array(checkid.length);
				    for (var i = 0; i < ids.length; i++) {
				        ids[i] = checkid[i].id;
				    }
				    //执行删除操作
				    $.post("{:url('Category/deletes')}",{id:ids},function(data){
				    if(data.code === 1){
				    	layer.msg(data.msg,{time:2000},function(){
				    		location.reload();
				    	});
				    }else{
				    	layer.msg(data.msg,{time:2000});
				    }
				    })                
			});
		}
		}
	});	
  });
  
    //编辑弹层
    function opentc(title,url){
        layer.open({
            type:2,
            title:title,
            shade:0.3,
            area:['50%','85%'],
            content:url,
        });
    }
	
	//状态变更
	function setStatus(id){
		layer.msg('确认要变更状态吗？',{
			time:5000,
			shade:0.3,
			btn:['确认','取消'],
			yes:function() {
				//执行变更
				$.post("{:url('Category/setStatus')}",{id:id},function(data){
					if(data.code === 1){
						layer.msg(data.msg,{time:2000},function(){
							location.reload();
						});
					}else{
						layer.msg(data.msg,{time:2000});
					}
				})
			}
		});
	}
	
	//点击搜索
	function so(){
		var keywords = $("#keywords").val();
		if(keywords == ""){
			layer.msg("请输入搜索内容！",{time:2000});
		}else{
			layer.open({
				title:"搜索内容",
				type:2,
				area:['100%','100%'],
				content: "{:url('Category/search')}"+"?keywords="+keywords,
				end:function(){
					location.reload();
				}
			});
		}
		//console.log(keywords);
	}

	</script>

</body>
</html>
