<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="Bookmark" href="/" >
  <link rel="Shortcut Icon" href="/" />
  <meta name="keywords" content="{$keywords|default='木鱼CMS内容管理后台'}" />
  <meta name="description" content="{$desc|default='木鱼CMS内容管理后台'}" />
  {load href="__ADMINST__layuiadmin/layui/css/layui.css"}
  {load href="__ADMINST__layuiadmin/style/admin.css"}
  {load href="__ADMINST__layuiadmin/style/template.css"}
  {load href="__ADMINST__muyuadmin/css/muyuui.css"}
  {load href="__ADMINLIB__jquery/1.9.1/jquery.min.js"}
 
 