{include file='public/meta' }
	<title>屏蔽词 - 木鱼内容管理系统</title>
</head>
<body>
    
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                  <div class="layui-card-header">屏蔽词设置</div>
                  <div class="layui-card-body">
                    <form class="form form-horizontal" id="form-system-base">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">屏蔽词:</label>
                        <div class="layui-input-block">
                          <textarea name="shielding" class="layui-textarea">{$system.shielding}</textarea>
                        </div>
                    </div>
                    <input type="hidden" name="id" id="uid" value="{$system.id}">
                      <div class="layui-form-item">
                        <div class="layui-input-block">
                          <button class="layui-btn" type="button" id="btn">确认保存</button>
                        </div>
                      </div>
                    </form> 
                  </div>
                </div>
            </div>
        </div>
    </div>

	
	<!--_footer 作为公共模版分离出去-->
{include file='public/footer' }
	<!--/_footer /作为公共模版分离出去-->

<script type="text/javascript">
  layui.config({
    base: '__ADMINST__layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['form','element'],function(){
      var $ = layui.$
    ,element = layui.element//Tab的切换功能，切换事件监听等，需要依赖element模块
    ,form = layui.form ;
    
    //状态监听

  });
  
	/* 表单验证，提交 */
	$("#btn").on("click",function(){
		var Data={};
		var shielding = $('.layui-textarea').val();
		Data['shielding'] = shielding;
		var id = $('#uid').val();
		Data['id'] = id;
		 //console.log(Data);
		$.post("{:url('system/screenedit')}",Data,function(data){
		layer.msg(data.msg,{time:2000},function(){
			if(data.url) location.href = data.url;
		});
		});
	});
</script>
</body>
</html>
