<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{$matcont.title} - {siteseo name='title'}</title>
		<meta name="keywords" content="{muy:siteseo name='keywords'}" />
		<meta name="description" content="{muy:siteseo name='descri'}" />
		<link href="__HOMEST__static/css/dgy.base.css" rel="stylesheet" type="text/css" />
		<link href="__HOMEST__static/css/dgy.grid.v.css" rel="stylesheet" type="text/css" />
		<link href="__HOMEST__static/css/dgy.nav.t.css" rel="stylesheet" type="text/css" />
		<link href="__HOMEST__static/css/font_1809908_xpn2c7cw8fi.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="__HOMEST__static/js/digg.js"></script>
	</head>
	<body>
		<div class="baseLayout">
			<!--头部-->
			{include file='home_temp/muyu_duoguyu/public/header'}
			<!--头部end-->
			<div class="productGrid">
				<div class="fullTabs location">
					<div class="tagWrap">
						<span class="tagLabel">当前位置:</span>
						<div class="tagBox">
							{$matcont.mid|snavs=###|raw}
						</div>
					</div>
				</div>
				<div class="detailGrid">
					<div class="detailHeadLabel">
						<h1 class="title">{$matcont.title}<small> / {if condition="!empty($catinfo.id)"}{hnav
								hid="$catinfo.id"}{$title}{/hnav}{/if}</small></h1>
						<p class="info">
							<span>{$matcont.create_time|date='Y-m-d'}</span>
							来源 /
							<span>{siteseo name='title'}</span>
							编辑 /
							<span>{$matcont.author}</span>
						</p>
					</div>

					<div class="description">
						<div class="detail">
							<p>
								{$matcont.abstract}
							</p>
						</div>
					</div>
					<article class="articleDetailGroup">
						{$matcont.editor|raw}
					</article>
					<div class="tagGroup star">
						<div class="tagBox">
							{tags matid="$matcont.id" operate="0"}
							<a href="/search/index.html?search={$keyword}" class="tag" target="_blank"># {$keyword}</a>
							{/tags}
						</div>
						<div class="fr" id="newdigg">
							<a href="javascript:;" onclick="dianzan()">
								<i class="iconfont icondgy dgy-biaoqian icon-dianzan"></i>点赞({$matcont.likes})</a>
						</div>
					</div>

					<!-- 评论区 开始 -->
					<div class="commonHeadLabel small">
						<div class="title">评论列表</div>
					</div>
					<div class="commentGrid">
						<div class="commentForm">
							<form action="{:url('index/matters/discuss')}" method="post"
								onsubmit="return check_comm(this)">
								<input type="hidden" name="id" value="{$matcont.id}">
								<input type="hidden" name="title" value="{$matcont.title}">
								<input name="pl" type="hidden" />
								<textarea class="commentTextarea" id="content" name="content"
									placeholder="我来说两句~"></textarea>
								<div class="btnBox"><input type="submit" class="submitBtn" name="dosubmit" value="提交">
								</div>
							</form>
						</div>

						<!-- 评论列表 -->
						<div class="commentList">
							<div class="title">共{$matcont.comment_t}条评论</div>
							<div class="commentGrid">

								<ul class="itemUl">
									{section matid="$matcont.id"}
									<li class="item">
										<div class="username"># <a href="" target="blank">{$title}</a>
											<span>{:date("Y/m/d H:i:s", $create_time)}</span></div>
										<div class="commentGroup">
											<p>{$content}</p>
											<div id="rep_2" style="display:none">
												<form action="{url:('index/matters/discuss')}" method="post"
													onsubmit="return check_comm(this)">
													<input type="hidden" name="id" value="{id}">
													<input type="hidden" name="title" value="{$title}">
													<textarea class="commentTextarea" id="content" name="content"
														placeholder="我来说两句~"></textarea>
													<div class="btnBox"><input type="submit" class="submitBtn"
															name="dosubmit" value="提交"></div>
												</form>
											</div>
										</div>
									</li>
									{/section}

								</ul>
							</div>
						</div>

					</div>


				</div>
				<div class="titleWrapper bb0">
					<h3 class="title"><b>猜你喜欢</b></h3>
				</div>
				<div class="articleListWrapper">
					{matter tab="$catinfo.id" order="rand()" limit="4"}
					<div class="richTextItem">
						<a class="content" href="{maturl contid='$id'}" title="{$title}" target="_blank">
							<div class="article">
								<div class="focusBox">
									<img class="focus" src="{$titlepic}" alt="{$title}" />
								</div>
								<div class="textBox">
									<h4 class="title">{$title}</h4>
									<p class="mb15">
										{$abstract}
									</p>
									<p>
										{$catitle} · {$create_time|date='Y-m-d'}
									</p>
								</div>
							</div>
						</a>
					</div>
					{/matter}
				</div>
			</div>

			<!--低部-->
			{include file='home_temp/muyu_duoguyu/public/footer'}
			<!--低部end-->
		</div>
		<script src="{:url('index/Matters/artcoun',['matid'=>$matcont.id])}"></script>
		<script>
			function dianzan() {
				$.ajax({
					type: "post",
					url: "{:url('index/Matters/subLikes')}",
					dataType: "json",
					data: {
						matid: {
							$matcont.id
						}
					},
					success: function(msg) {
						layer.msg(msg.msg, {
							time: 3000
						}, function() {
							location.reload();
						});
					}
				});
			}
		</script>
	</body>
</html>
