<!-- 下载地址 -->
            	<div class="asideGrid">
            		<div class="downloadWrap mb20">
            			<div class="downHeadBox">
            				<div class="priceWrap">
            					<div class="title">{$matcont.price}</div>
            					<div class="detail">
            						开通会员VIP，全站资源免费下载
            					</div>
            				</div>
            				{if empty($Think.session.Member)}
            				<a class="downloadBtn quickBtn mb10" href="{:url('index/Index/login')}" rel="nofollow"
            					target="_blank">登录下载</a>
            				{else/}
            				<a class="downloadBtn quickBtn mb10" onClick="goTo('xzdz')" rel="nofollow"
            					target="_blank">立即下载</a>
            				{/if}
            				<a class="downloadBtn pay quickBtn mb10"
            					href="http://wpa.qq.com/msgrd?v=3&uin={muy:siteseo name='adqq'}&site=qq&menu=yes"
            					target="_blank"><i class="iconfont icondgy dgy-huiyuan mr5"></i>问题反馈</a>
            			</div>
            			<div class="softLabelWrap">
            				<div class="label">
            					<span>当前热度:</span><span class="info"><i class="iconDgy fire"></i><strong
            							class="numFont2 num">{$matcont.browse}°</strong></span>
            				</div>
            				<div class="label">
            					<span>更新日期:</span><strong class="info">{$matcont.create_time|date='Y-m-d H:i:s'}</strong>
            				</div>
            			</div>
            			<div class="softLabelWrap f12">
            				<div class="infoTitle">免责声明:</div>
            				<div class="mb10">
            					<b>MuYuCMS</b>
            					下载资源均来源于网络，仅供学习和交流使用，版权归原作者所有，请在下载后24小时之内自觉删除，若作商业用途，请购买正版，由于未及时购买和付费发生的侵权行为，与本站无关。<br /><span
            						class="cf_red">本站发布的内容若侵犯到您的权益，请联系我们，本站将在一个工作日内删除。</span>
            				</div>
            			</div>
            			<!-- 推广 -->
            			<div class="pl20 pr20">
            				<div class="adWrapper full">
            					<div class="content"><a href="" target="_blank" title="560x200"><img src=""></a></div>
            				</div>
            			</div>
            		</div>
            		<!-- 侧边内容 -->
            		<div class="hotWrap">
            			<div class="articleListBox">
            				<div class="titleWrapper mb0">
            					<h3 class="title"><b>热门软件</b></h3>
            				</div>
            				{matter tab="$catinfo.id" order="browse desc" limit="5"}
            				<div class="richTextItem search aside">
            					<a class="content" href="{maturl contid='$id'}" title="{$title}" target="_blank">
            						<div class="article">
            							<div class="focusBox">
            								<img class="focus" src="{$titlepic}" alt="{$title}" />
            							</div>
            							<div class="textBox">
            								<h4 class="title">{$title}</h4>
            								<p>
            									<span class="mr5">{$price}</span>
            								</p>
            							</div>
            						</div>
            					</a>
            				</div>
            				{/matter}
            				<div class="adWrapper full">
            					<div class="content"><a href="" target="_blank" title="560x200"><img src=""></a></div>
            				</div>
            			</div>
            		</div>

            	</div>
