<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$matcont.title} - {siteseo name='title'}</title>
    <meta name="keywords" content="{muy:siteseo name='keywords'}" />
    <meta name="description" content="{muy:siteseo name='descri'}" />
    <link href="__HOMEST__static/css/dgy.base.css" rel="stylesheet" type="text/css" />
    <link href="__HOMEST__static/css/dgy.grid.v.css" rel="stylesheet" type="text/css" />
    <link href="__HOMEST__static/css/dgy.nav.t.css" rel="stylesheet" type="text/css" />
    <link href="__HOMEST__static/css/font_1809908_xpn2c7cw8fi.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__HOMEST__static/js/digg.js"></script>
</head>
<body>  
    <div class="baseLayout"> 
        <!--头部-->
			{include file='home_temp/muyu_duoguyu/public/header'}
			<!--头部end-->
	<div class="productGrid">
		<div class="fullTabs location">
			<div class="tagWrap">
				<span class="tagLabel">当前位置:</span>
				<div class="tagBox">
					{$matcont.mid|snavs=###|raw}
				</div>
			</div>
		</div>
		<div class="codeheader">
		    <div class="fl img">
		        <img class="thumb" src="{$matcont.titlepic}" alt="{$matcont.title}">
		    </div>
		    <div class="info fl">
		        <h1 class="tit">{$matcont.title}</h1>
		        <div class="des">  
                         <em>提取码：无</em> 
                         <span>来源：{siteseo name='title'}</span>
                         <span>点击：{$matcont.browse}</span>
                         <span>安全检测</span>
                         <span>BUG修复</span>   
                </div>
                <div class="limit">
                    <div class="price">
                        售价：￥&nbsp;<span>{$matcont.moneys}</span>
                    </div>
                    <div class="vip">升级VIP，资源免费下</div>
                    <span class="qqzx"><p>为了节省时间，咨询客服请带上本页链接+问题。</p><p>使用快捷键Ctrl+D收藏本站,下次访问更方便哟！ </p></span>
                </div>
                <div class="go">
                    <a class="downloadBtn quickBtn" href="javascript:;" rel="nofollow" ><i class="iconfont icon-download"></i>立即下载</a>
                    <a href="{$matcont.demo}" target="_blank" rel="nofollow">在线演示</a>
                    <a href="http://wpa.qq.com/msgrd?v=3&uin={siteseo name='adminqq'}&site=qq&menu=yes" rel="nofollow" target="_blank">定制网站</a>
                </div>
		    </div>
		</div>
		<div class="downLoadWrapper">
			<div class="detailGrid">
				
				<div class="description">
					<div class="detail">
						<p>
							{$matcont.abstract|raw}
						</p>
					</div>
				</div>
				<article class="articleDetailGroup">
					{$matcont.editor|raw}
				</article>
				<div class="tagGroup star quickDownLoad">
					<div class="tagBox">
					    {tags matid="$matcont.id" operate="0"}
						 <a href="/search/index.html?sech={$keyword}" class="tag" target="_blank"># {$keyword}</a>
						 {/tags}
					</div>
					<div class="fr" id="newdigg">
						<a href="javascript:;" onclick="dianzan()">
							<i class="iconfont icondgy dgy-biaoqian icon-dianzan"></i>点赞({$matcont.likes})</a>
							</div>
				</div>
				<div class="titleWrapper tabs mb0">
				<h3 class="title item on"><b>下载地址</b></h3>
				</div>
				<div class="quickDownLoadGroup">
					<div class="quickBox">
						{if ($matcont.isprice == 2)}
						{$matcont.preditor|raw}
						{else/}
						{if condition="!empty($matcont.downpath)"}
						{foreach $matcont.downpath as $val}
						<div class="item"><a href="{$val['pturl']}" class="downbtn normal" target="_blank"><i class="iconfont icon-xiazai2" data-filtered="filtered"></i>{$val['ptname']}</a></div>
						{/foreach}
						{/if}
						{/if}
					</div>
				</div>
				<!-- 免责声明 -->
                    <div class="copyrightWrapper">
            	        <p class="cf_red mb5">#版权声明#</p>
            	        <p>一、本站致力于为软件爱好者提供国内外软件开发技术和软件共享，着力为用户提供优资资源;</p>
            	        <p>二、本站内提供的部分源码下载文件为网络共享资源，请于下载后的24小时内删除。如需体验更多乐趣，还请支持正版;</p>
            	        <p>三、本站提供用户下载的所有内容均转自互联网。如有内容侵犯您的版权或其他利益的，请编辑邮件并加以说明发送到站长邮箱。站长会进行审查之后，情况属实的会在三个工作日内为您删除。</p>
                    </div>
    
                    <!-- 推广 -->
                    <div class="adWrapper w2 layoutHide">
                        <div class="content"><a href="" target="_blank" title="860x128"><img src=""></a></div>
                        <div class="content"><a href="" target="_blank" title="860x128"><img src=""></a></div>
                    </div>
    
            		<!-- 评论区 开始 -->
                    <div class="commonHeadLabel small">
                       <div class="title">评论列表</div>
                    </div>
            		<div class="commentGrid">
            			<div class="commentForm">
                			<form action="{:url('index/matters/discuss')}" method="post" onsubmit="return check_comm(this)">
                    			<input type="hidden" name="matid" value="{$matcont.id}">
                    			<input type="hidden" name="title" value="{$matcont.title}">
                    			<input name="pl" type="hidden"/>
                    			<textarea class="commentTextarea" id="content" name="content" placeholder="我来说两句~"></textarea>
        				        <div class="btnBox"><input type="submit" class="submitBtn" name="dosubmit" value="提交"></div>
                			</form>
            			</div>
    
            		<!-- 评论列表 -->
                		<div class="commentList">
                			                			<div class="title">共{$matcont.comment_t}条评论</div>
                			<div class="commentGrid">
                			    
                    			<ul class="itemUl">
                    			    {section matid="$matcont.id"}
                    			    <li class="item">
                						<div class="username"># <a href="" target="blank">{$title}</a> <span>{:date("Y/m/d H:i:s", $create_time)}</span></div>
                						<div class="commentGroup">
                						    <p>{$content}</p>
                    						<div id="rep_2" style="display:none">
                        						<form action="{url:('index/matters/discuss')}" method="post" onsubmit="return check_comm(this)">
                    			                   <input type="hidden" name="matid" value="{$matcont.id}">
                    			                   <input type="hidden" name="title" value="{$title}">
                    			                   <input type="hidden" name="pid" value="{$id}">
                    			                   <textarea class="commentTextarea" id="content" name="content" placeholder="我来说两句~"></textarea>
        				                           <div class="btnBox"><input type="submit" class="submitBtn" name="dosubmit" value="提交"></div>
                			                   </form>
                    						</div>
                						</div>
                    				</li>
                    				{/section}
                    		            
                    				</ul>
                			</div>
                		</div>    
    
            		</div>
    
            	</div>
            	{include file='home_temp/muyu_duoguyu//article_right'}
            	
            </div>

            <!-- 最新内容 -->
		<div class="titleWrapper bb0">
			<h3 class="title"><b>猜你喜欢</b></h3>
		</div>
		<div class="articleWrapper">
			{matter tab="$catinfo.id" order="rand()" limit="6"}
			<div class="itemArticle">
				<a class="contentWrap" href="{maturl contid='$id'}" title="/article_{$title}" target="_blank">
				<div class="topWrap">
					<img class="img" src="{$titlepic}" alt="{$title}" title="{$title}">
					<div class="textBox">
						<h2>{$title}</h2>
						<p>
							{$abstract}
						</p>
					</div>
				</div>
				</a>
			</div>
           {/matter}
		</div>
        </div>
			<!--低部-->
			{include file='home_temp/muyu_duoguyu/public/footer'}
			<!--低部end-->
			</div>
			<script src="{:url('index/Matters/artcoun',['matid'=>$matcont.id])}"></script>
			<script>
			    function dianzan(){
            $.ajax({
                type:"post",
                url:"{:url('index/Matters/subLikes')}",
                dataType:"json",
                data:{matid:{$matcont.id}},
                success:function(msg){
                    layer.msg(msg.msg,{time:3000},function(){
                        location.reload();
                    });
                }
            });
        }
			</script>
</body>
</html>
