<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{$catinfo.title}_{siteseo name='title'}</title>
<meta name="keywords" content="{siteseo name='keyword'}"/>
<meta name="description" content="{siteseo name='descri'}"/>
<link href="__HOMEST__static/css/dgy.base.css" rel="stylesheet" type="text/css"/>
<link href="__HOMEST__static/css/dgy.grid.v.css" rel="stylesheet" type="text/css"/>
<link href="__HOMEST__static/css/dgy.nav.t.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="__HOMEST__static/css/swiper.min.css"/>
<link href="__HOMEST__static/css/font_1809908_xpn2c7cw8fi.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="baseLayout">
            <!--头部-->
			{include file='home_temp/muyu_duoguyu/public/header'}
			<!--头部end-->
        <div class="productGrid">
		<div class="fullTabsGroup">	
			<div class="bestflag linearOrange">
				精选
			</div>
			<div class="softWrapper swiper-container" id="topBest">
				<div class="swiper-wrapper">
					{matter hid="$catinfo.id" operate="1"}
					<div class="item swiper-slide">
						<a class="softBox" href="{maturl contid='$id'}" title="{$title}" target="_blank">
						<img class="softIcon" src="{$titlepic}" alt="{$title}" title="{$title}">
						<p>
							{$title}
						</p>
						</a>
					</div>
					{/matter}
				</div>
				<div class="swiper-button-prev">
				</div>
				<div class="swiper-button-next">
				</div>
			</div>

			<div class="fullTabs">
				<div class="tagWrap">
					<span class="tagLabel">子栏目:</span>
					<div class="tagBox">
					    <a href="{if condition='$catinfo.pid neq 0'}{maturl cateid='$catinfo.pid'}{/if}" class="{eq name='$catinfo.pid' value='0'}on{/eq}">全部</a>
						{hnav hid="$catinfo.id"}
						{foreach $children as $li}
						<a href="{maturl cateid='$li.id'}" class="{eq name='$li.id' value='$catinfo.id'}on{/eq}">{$li.title}</a>
						{/foreach}
						{/hnav}
					</div>
				</div>
			</div>
			</div>
	<div class="mb20">
		<div class="titleWrapper bb0">
			<h3 class="title"><b>{$catinfo.title}<small>({$catinfo.ar_cont})</small></b></h3>
			<div class="searchWrap">
				<form method="get" action="{:url('index/search/index')}" target="_blank">
					<input name="sech" type="text" placeholder="搜索" id="searchInput" class="searchInput"/>
					<button class="searchBtn" type="submit"><i class="iconfont icondgy icon-sousuo"></i></button>
				</form>
			</div>
		</div>
		<div class="articleWrapper imgTextGrid">	
			{matter tab="$catinfo.id" operate="0" pag="true"}
			<div class="item">
					<div class="tophead">
						<a href="{maturl contid='$id'}" title="{$title}" target="_blank"><img class="focus" src="{$titlepic}" alt="{$title}"></a>
					</div>
					<div class="article">
					    <em><i>#{$catitle}</i><a href="/search/index.html?sech={$tytitle}">{$tytitle}</a></em>
						<h2><a href="{maturl contid='$id'}" title="{$title}" target="_blank">{$title}</a></h2>
						<div>
						    <time><i class="iconfont  icon-shijian"></i>{$create_time|date='Y-m-d'}</time>
						    <span><i class="iconfont  icon-yanjing1"></i>{$browse}</span>
						</div>
					</div>
				</div>
			{/matter}
		</div>
		<div id="pageGroup">
			{$_LI|raw}
		</div>
	</div>
	<div class="mb20">
		<div class="titleWrapper">
			<h3 class="title"><b>猜你喜欢</b></h3>
		</div>
		<div class="articleWrapper">
		{matter tab="$catinfo.id" limit="6" order="rand()"}	
		<div class="itemArticle">
				<a class="contentWrap" href="{maturl contid='$id'}" title="{$title}" target="_blank">
				<div class="topWrap">
					<img class="img" src="{$titlepic}" alt="{$title}" title="{$title}">
					<div class="textBox">
						<h2>{$title}</h2>
						<p>
							{$abstract}
						</p>
					</div>
				</div>
				</a>
			</div>
			{/matter}

		</div>
	</div>    
    </div>    
			<!--低部-->
			{include file='home_temp/muyu_duoguyu/public/footer'}
			<!--低部end-->
			</div>
</body>
</html>
