<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="{siteseo name='keyword'}" />
    <meta name="description" content="{siteseo name='descrip'}" />
    <title>
        <?php echo input('sech');?>_{siteseo name='title'}
    </title>
    <link href="__HOMEST__static/css/dgy.base.css" rel="stylesheet" type="text/css" />
    <link href="__HOMEST__static/css/dgy.grid.v.css" rel="stylesheet" type="text/css" />
    <link href="__HOMEST__static/css/dgy.nav.t.css" rel="stylesheet" type="text/css" />
    <link href="__HOMEST__static/css/font_1809908_xpn2c7cw8fi.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__HOMEST__static/js/digg.js"></script>
</head>

<body>
    <div class="baseLayout">
        <!--头部-->
        {include file='home_temp/muyu_duoguyu/public/header'}
        <!--头部end-->
        <div class="productGrid">
            <div class="searchPageWrap">
            <!-- 频道导航 -->
            <div class="mainWrap">
                <div class="titleWrapper bb0">
                    <h3 class="title"><b>“
                            <?php echo input('sech');?>”
                        </b>的搜索结果。</h3>
                </div>

                <!-- 全部内容 -->
                <div class="articleListWrapper">
                    {foreach $list as $val}
                    <div class="richTextItem search">
                        <a class="content" href="{maturl contid='$val.id'}" title="{$val.title}" target="_blank">
                            <div class="article">
                                <div class="focusBox">
                                    <img class="focus" src="{$val.titlepic}" alt="{$val.title}">
                                </div>
                                <div class="textBox">
                                    <h4 class="title">{$val.title}</h4>
                                    <p>
                                        {$val.abstract}...
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {/foreach}
                    <div id="pageGroup">
                    </div>
                </div>
            </div>
            <div class="asideWrap">
                <div class="articleListBox">
                    <div class="titleWrapper mb0">
                        <h3 class="title"><b>随机推荐</b></h3>
                    </div>
                    {matter tab="1" operate="0" order="rand()" limit="6"}
                    <div class="richTextItem search aside">
                        <a class="content" href="{maturl contid='$id'}" title="{title}" target="_blank">
                            <div class="article">
                                <div class="focusBox">
                                    <img class="focus" src="{$titlepic}" alt="{$title}" />
                                </div>
                                <div class="textBox">
                                    <h4 class="title">{$title}</h4>
                                    <p>
                                        <span class="mr5">{$abstract}</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {/matter}
                </div>
            </div>
        </div>
    </div>
    <!--低部-->
    {include file='home_temp/muyu_duoguyu/public/footer'}
    <!--低部end-->
    </div>
</body>

</html>