{include file='public/meta'}
<title>应用中心 - 木鱼内容管理系统</title>
</head>
<body>
	<div class="layui-bg-gray" style="padding: 30px;">
	  <div class="layui-row layui-col-space15">
	    <div class="layui-col-md2">
	      <div class="layui-card">
       <div class="layui-fluid">
	                <div class="layadmin-tips">
	                <i class="layui-icon" face>&#xe69c;</i>
	                <div class="layui-text" style="font-size: 20px;">
	                        {$status["msg"]}
	                </div>
	            
	          </div>
	        </div>
	        </div>
	      </div>
	    </div>
	  </div>  
	<!-- 低部区域 -->
	{include file='public/footer'}
	<script>
		layui.config({
			base: '__ADMINST__layuiadmin/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use(['form', 'element', 'laydate','tree'], function() {
			var $ = layui.jquery,
				form = layui.form,
				tree = layui.tree,
				laydate = layui.laydate,
				element = layui.element;
		});
</script>
</body>
</html>