<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      
	  <title>会员中心 - 修改资料 - {siteseo name='title'}</title>
	  <meta name="keywords" content="{siteseo name='keyword'}" />
      <meta name="description" content="{siteseo name='descri'}" />
	  <link rel="stylesheet" href="__USERST__static/layer/theme/default/layer.css" id="layuicss-layer">
	  <link href="__USERST__static/css/member_index.css" rel="stylesheet" type="text/css">
      <link type="text/css" rel="stylesheet" href="__USERST__static/css/laydate.css">
      <link type="text/css" rel="stylesheet" href="__USERST__static/css/laydate(1).css" id="LayDateSkin">
      <link href="__USERST__static/icon/iconfont.css" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="__USERST__static/js/jquery-1.8.2.min.js"></script>
      <script type="text/javascript" src="__USERST__static/layer/layer.js"></script>
      <script type="text/javascript" src="__USERST__static/js/address.js"></script>
      </head>
<!--头部-->
{include file='member_temp/user/header'}
<!--头部end-->
<div class="yzm_member_container main">
    <!--侧边导航栏开始-->
      {include file='member_temp/user/menu'}
      <!--侧边导航栏结束-->
      <div class="main_right">
        <div class="tit">
            <h3>修改资料</h3>
        </div>
        <div class="main_cont">
            <form method="post" action="" onsubmit="return chcekall(this)">
                <table>
                    <tbody>
                        <tr>
                        <td>会员名：</td>
                        <td><input type="text" value="{$member.account}" class="input" disabled><span class="red">*</span></td>
                    </tr>
                    <tr>
                        <td>昵称：</td>
                        <td><input type="text" value="{$member.name}" name="name" id="name" class="input"></td>
                    </tr>
                    <tr>
                        <td>性别：</td>
                        <td>
                            <select class="select valid" size="1" name="sex" id="">
							{if condition="$member.sex eq '男'"}
							<option value="1" selected>男</option>
							<option value="0">女</option>
							<option value="2">保密</option>
							{elseif condition="$member.sex eq '女'"/}
							<option value="1">男</option>
							<option value="0" selected>女</option>
							<option value="2">保密</option>
							{else/}
							<option value="1">男</option>
							<option value="0">女</option>
							<option value="2" selected>保密</option>
							{/if}
						    </select>
						</td> 
					</tr> 
					<tr>
                        <td>个人简介：</td>
                        <td><textarea name="intro" id="intro" value="" class="textarea">{$member.intro}</textarea></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="dosubmit" class="submit" value="提交"></td>
                    </tr>
                </tbody></table>
            </form>
        </div>
    </div>
</div>

<!--验证码发送触发样式开始-->
<style>
.sendMail>span{cursor: pointer;}
</style>
<!--验证码发送触发样式结束-->
<!--底部开始-->
{include file='member_temp/user/footer'}
<!--底部结束-->
  
<script type="text/javascript">

	function chcekall(obj){
	     
			var dosubmit = false;
			$.ajax({   
				type: "post",
				url: "{:url('User/updateMeans')}",   
				dataType: "json",
				async: false,
				data:  $(obj).serialize(),
				success: function(msg){  
					if(msg.code == 1){
						layer.msg(msg.msg, {icon:1,time: 3000});
						location.reload();
					}else{
							layer.msg(msg.msg, {icon:2,time: 2000});
					        $('#captcha+img').attr('src',$('#captcha+img').attr('src') + '?' + Math.random());
							$("#captcha").focus();
					}				 
				} 
			});
			return dosubmit ? true : false;
			}
</script>
		
</body></html>