.muyu-text{
    width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.muyu-tips-right{
    float: right;
    color: red;
    display: inline-block;
    margin-right: 50px;
}
.layui-laypage{
    display:flex;
    justify-content: center;
}