* { margin: 0; padding: 0; }
html { height: 100%; }
body { background: #fff url(../img/loginbg.jpg) 50% 50% no-repeat; background-size: cover;}
.loging{
	width: 360px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -180px;
    margin-top: -100px;
}
.loging-fom{
	background: #ffffffad;
	border-radius:4px;
	box-shadow: 5px 5px 20px #4444;
	padding: 20px;
}
.rigspan{
	float: right;
	display: inline-block;
	font-size: 15px;
}
@media (max-width: 767px) {
    .loging-fom{
	background: #fff;
    }
}
@media (max-width: 480px) {
    .loging-fom{
	background: #fff;
    }
}