{include file='public/meta'}
  <title>自定义页面 - 添加页面 - 木鱼内容管理系统</title>
</head>
<body>
<div class="layui-fluid">
        <div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
                <div class="layui-card">    
                    <div class="layui-card-body">
                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title">
                        <li class="layui-this">推荐选择:<span style="color:red;">template/custform</span></li>
                        </ul>
                        </div>
                        <div id="selectdir">
                            
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 低部区域 -->
{include file='public/footer'}
  <script>
  layui.config({
    base: '__ADMINST__layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['form'], function(){
    var $ = layui.$
    ,form = layui.form ;
	});
	var index = parent.layer.getFrameIndex(window.name);
    layui.use('tree', function(){
    var tree = layui.tree;
    //渲染
    var inst1 = tree.render({
      elem: '#selectdir'  //绑定元素
      ,data: JSON.parse('{$dir|raw}')
      ,onlyIconControl: true
      ,click: function(obj){
        //得到当前点击的节点数据
        console.log(obj.data);
        parent.$('#path').val(obj.data.id);
        parent.layer.close(index);
    }
    });
  });
  </script>
</body>
</html>