<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="yzmcms,YzmCMS演示站,开源cms,cms系统" />
    <meta name="description" content="YzmCMS是一款基于YZMPHP开发的一套轻量级开源内容管理系统，YzmCMS简洁、安全、开源、实用，可运行在Linux、Windows、MacOSX、Solaris等各种平台上，专注为公司企业、个人站长快速建站提供解决方案。" />
    <title>软件库_多骨鱼模板演示站</title>
    <link href="__INDEXST__static/css/dgy.base_1.css" rel="stylesheet" type="text/css" />
    <link href="__INDEXST__static/css/dgy.grid.v_1.css" rel="stylesheet" type="text/css" />
    <link href="__INDEXST__static/css/dgy.nav.t_1.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="__INDEXST__static/css/swiper.min.css" />
    <script type="text/javascript" src="__INDEXST__static/js/jquery-2.1.4.min.js"></script>
    <link href="__INDEXST__static/css/font_1809908_xpn2c7cw8fi.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__INDEXST__static/js/layer.js"></script>
    <script type="text/javascript" src="__INDEXST__static/js/yzm-front.js"></script>
    <script type="text/javascript" src="__INDEXST__static/js/swiper.min.js"></script>
</head>
<body>
    <div class="baseLayout">
			<!--头部-->
			{include file='public/header'}
			<!--头部end-->
    <div class="wrapper">
        <a href="http://anduin.duoguyu.com/" class="topWrapper">
            <img src="picture/200528095744887.png" class="logo" title="多骨鱼模板演示站" alt="多骨鱼模板演示站">
            <strong>多骨鱼模板演示站</strong>
        </a>
        <div class="minMenu layoutDisplay" id="switchMenu">
            <i class="iconDgy more"></i>
            <i class="iconDgy close"></i>
        </div>
        <div class="navWrapper">
            <a  href="http://anduin.duoguyu.com/" title="发现">
                <i class="iconfont icondgy dgy-faxian1"></i><span class="navName">发现</span>
            </a>
            	        			<a  class="on"  href="http://anduin.duoguyu.com/soft/" title="软件库" >
			    <i class="iconfont icondgy dgy-biaoqian dgy-shangpin"></i><span class="navName">软件库</span>
			    			</a>		
	        			<a  href="http://anduin.duoguyu.com/article/" title="教程" >
			    <i class="iconfont icondgy dgy-biaoqian dgy-zixun"></i><span class="navName">教程</span>
			    			</a>		
	        			<a  href="/special" title="专题"  target="_blank" >
			    <i class="iconfont icondgy dgy-biaoqian dgy-wenjianjia"></i><span class="navName">专题</span>
			    			</a>		
	        			<a  href="http://anduin.duoguyu.com/top/" title="榜单" >
			    <i class="iconfont icondgy dgy-biaoqian dgy-dianzan"></i><span class="navName">榜单</span>
			    			    <i class="iconNew"></i>
			    			</a>		
	        			<a  href="/diyform/index/show/modelid/4.html" title="心愿单"  target="_blank" >
			    <i class="iconfont icondgy dgy-biaoqian dgy-shoucang"></i><span class="navName">心愿单</span>
			    			</a>		
	        			<a  href="http://anduin.duoguyu.com/about/" title="关于" >
			    <i class="iconfont icondgy dgy-biaoqian dgy-shezhi"></i><span class="navName">关于</span>
			    			</a>		
	                </div>
    </div>
    
    <!-- 登录/注册 START -->
    <div class="userHeaderWrapper">
                <a href="http://anduin.duoguyu.com/member/index/login.html" rel="nofollow" target="_blank" class="menuLogin">登录/注册</a>
            </div>
    <!-- 登录/注册 END -->
    <script>
        $(function(){
            $('#switchMenu, #closeMenuBtn').click(function(){
                $('#navGrid').toggleClass('on');
            });
        });
    </script>
    
</div>
        <div class="productGrid">
			
			<div class="fullTabsGroup">
			    <div class="bestflag linearOrange">精选</div>
                <div class="softWrapper swiper-container" id="topBest">
                    <div class="swiper-wrapper">
        				            		                            <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/tool/93.html" title="Final Cut Pro X" target="_blank">
                                <img class="softIcon" src="picture/200513110331374.png" alt="Final Cut Pro X" title="Final Cut Pro X" />
                                <p>Final Cut Pro X</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/tool/88.html" title="[付费]Noizio For Mac" target="_blank">
                                <img class="softIcon" src="picture/200513105539453.png" alt="[付费]Noizio For Mac" title="[付费]Noizio For Mac" />
                                <p>[付费]Noizio For Mac</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/tool/86.html" title="网易有爱Mac客户端" target="_blank">
                                <img class="softIcon" src="picture/200513105318345.jpg" alt="网易有爱Mac客户端" title="网易有爱Mac客户端" />
                                <p>网易有爱Mac客户端</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/browser/54.html" title="Chromium 2020 for Mac" target="_blank">
                                <img class="softIcon" src="picture/200513095821881.jpg" alt="Chromium 2020 for Mac" title="Chromium 2020 for Mac" />
                                <p>Chromium 2020 for Mac</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/tool/49.html" title="[付费]GitKraken Mac版" target="_blank">
                                <img class="softIcon" src="picture/200513095121405.png" alt="[付费]GitKraken Mac版" title="[付费]GitKraken Mac版" />
                                <p>[付费]GitKraken Mac版</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/tool/40.html" title="BetterZip for Mac" target="_blank">
                                <img class="softIcon" src="picture/200513093543780.png" alt="BetterZip for Mac" title="BetterZip for Mac" />
                                <p>BetterZip for Mac</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/dev/38.html" title="[付费]Xcode 2020 for Mac" target="_blank">
                                <img class="softIcon" src="picture/200513093257903.png" alt="[付费]Xcode 2020 for Mac" title="[付费]Xcode 2020 for Mac" />
                                <p>[付费]Xcode 2020 for Mac</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/tool/31.html" title="GitHub for Mac 桌面版" target="_blank">
                                <img class="softIcon" src="picture/200513092610650.png" alt="GitHub for Mac 桌面版" title="GitHub for Mac 桌面版" />
                                <p>GitHub for Mac 桌面版</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/browser/50.html" title="火狐浏览器国际版" target="_blank">
                                <img class="softIcon" src="picture/200513095427216.png" alt="火狐浏览器国际版" title="火狐浏览器国际版" />
                                <p>火狐浏览器国际版</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/dev/35.html" title="Beekeeper Studio Mac版" target="_blank">
                                <img class="softIcon" src="picture/200513092944720.png" alt="Beekeeper Studio Mac版" title="Beekeeper Studio Mac版" />
                                <p>Beekeeper Studio Mac版</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/dev/34.html" title="Vectoraster 2020 for Mac" target="_blank">
                                <img class="softIcon" src="picture/200513092848580.jpg" alt="Vectoraster 2020 for Mac" title="Vectoraster 2020 for Mac" />
                                <p>Vectoraster 2020 for Mac</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/dev/33.html" title="Sublime Text 3 Bulid for mac" target="_blank">
                                <img class="softIcon" src="picture/200513092744206.png" alt="Sublime Text 3 Bulid for mac" title="Sublime Text 3 Bulid for mac" />
                                <p>Sublime Text 3 Bulid for mac</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/tool/29.html" title="熊掌记Mac版" target="_blank">
                                <img class="softIcon" src="picture/200513092254518.png" alt="熊掌记Mac版" title="熊掌记Mac版" />
                                <p>熊掌记Mac版</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/chat/28.html" title="Meeter Mac版" target="_blank">
                                <img class="softIcon" src="picture/200513092150683.png" alt="Meeter Mac版" title="Meeter Mac版" />
                                <p>Meeter Mac版</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/media/23.html" title="腾讯视频mac版" target="_blank">
                                <img class="softIcon" src="picture/200513085700723.png" alt="腾讯视频mac版" title="腾讯视频mac版" />
                                <p>腾讯视频mac版</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/chat/22.html" title="微信企业版Mac版" target="_blank">
                                <img class="softIcon" src="picture/200513081832760.png" alt="微信企业版Mac版" title="微信企业版Mac版" />
                                <p>微信企业版Mac版</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/chat/21.html" title="倍洽 for Mac" target="_blank">
                                <img class="softIcon" src="picture/200513081750965.png" alt="倍洽 for Mac" title="倍洽 for Mac" />
                                <p>倍洽 for Mac</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/chat/10.html" title="QQ for mac 轻聊国际版" target="_blank">
                                <img class="softIcon" src="picture/200512104546207.png" alt="QQ for mac 轻聊国际版" title="QQ for mac 轻聊国际版" />
                                <p>QQ for mac 轻聊国际版</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/chat/8.html" title="微信Mac版" target="_blank">
                                <img class="softIcon" src="picture/200512104240368.png" alt="微信Mac版" title="微信Mac版" />
                                <p>微信Mac版</p>
                            </a>
                        </div>
        				                        <div class="item swiper-slide">
                            <a class="softBox" href="http://anduin.duoguyu.com/media/3.html" title="多闪 国际版" target="_blank">
                                <img class="softIcon" src="picture/200513085045148.png" alt="多闪 国际版" title="多闪 国际版" />
                                <p>多闪 国际版</p>
                            </a>
                        </div>
        				                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
    			
    			<!-- 频道导航 -->
                <div class="fullTabs">
                    <div class="tagWrap">
                        <span class="tagLabel">分类:</span>
                        <div class="tagBox">
                            <a href="http://anduin.duoguyu.com/soft/" class="on">全部</a>
                                            			                            <a href="http://anduin.duoguyu.com/chat/">社交通讯</a>
                			                            <a href="http://anduin.duoguyu.com/dev/">开发工具</a>
                			                            <a href="http://anduin.duoguyu.com/office/">办公效率</a>
                			                            <a href="http://anduin.duoguyu.com/tool/">应用工具</a>
                			                            <a href="http://anduin.duoguyu.com/design/">图形设计</a>
                			                            <a href="http://anduin.duoguyu.com/media/">影音媒体</a>
                			                            <a href="http://anduin.duoguyu.com/browser/">浏览器</a>
                			                        </div>
                    </div>
                </div>
            
			</div>
			
			<!-- 推广 
			<div class="adWrapper w2">
			    <div class="item">
			        <div class="content"><a href="https://www.duoguyu.com/?v=varian" target="_blank" title="860x128"><img src="picture/200514032054369.jpg"></a></div>
			    </div>
			    <div class="item">
			        <div class="content"><a href="https://www.duoguyu.com/?v=varian" target="_blank" title="860x128"><img src="picture/200514030619128.jpg"></a></div>
			    </div>
			</div>
			-->
			
			<!-- 全部内容 -->
        	<div class="mb20">
                <div class="titleWrapper bb0">
                                        <h3 class="title"><b>软件库<small>(104)</small></b></h3>
                    <div class="searchWrap">
                        <form method="get" action="http://anduin.duoguyu.com/search/index/init.html" target="_blank" onsubmit="return checkSearch()">
                            <input type="hidden" name="modelid" value="3" />
                            <input name="q" type="text" placeholder="搜索" id="searchInput" class="searchInput"/>
                            <button class="searchBtn" type="submit"><i class="iconfont icondgy dgy-sousuo"></i></button>
                        </form>
                    </div>
                </div>
                <div class="articleWrapper">
    				        		                        <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/media/104.html" title="Mini Player Mac版" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513112052576.png" alt="Mini Player Mac版" title="Mini Player Mac版" />
                                <div class="textBox">
                                    <h2>Mini Player Mac版</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.0.0</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                            <div class="btmWrap">Mini Player Mac版是Mac平台上的一款音频插件工具。Mini Player Mac版作为一款实用的小工具，可以让您在iT...</div>
                        </a>
                    </div>
    				                    <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/media/103.html" title="酷我音乐盒mac版" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513111805202.png" alt="酷我音乐盒mac版" title="酷我音乐盒mac版" />
                                <div class="textBox">
                                    <h2>酷我音乐盒mac版</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.0.0</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                            <div class="btmWrap">酷我音乐盒mac版本是一款为苹果用户设计的智能媒体音乐播放软件。酷我音乐盒mac版本继承了windows版本的特性并...</div>
                        </a>
                    </div>
    				                    <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/tool/102.html" title="Mirror for Xbox Mac版" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513111620437.png" alt="Mirror for Xbox Mac版" title="Mirror for Xbox Mac版" />
                                <div class="textBox">
                                    <h2>Mirror for Xbox Mac版</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.0.0</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                            <div class="btmWrap">Mirror for Xbox Mac版是Mac平台上的一款Xbox投屏工具。Mirror for Xbox Mac版可以把你的Mac屏幕镜像投屏到你的Xbox之上</div>
                        </a>
                    </div>
    				                    <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/media/101.html" title="i视频Mac版" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513111450430.png" alt="i视频Mac版" title="i视频Mac版" />
                                <div class="textBox">
                                    <h2>i视频Mac版</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.0.0</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                            <div class="btmWrap">i视频Mac版是Mac平台上的一款基于 Electron 开发的跨平台客户端版本的视频播放器。i视频Mac版包括国内主流视...</div>
                        </a>
                    </div>
    				                    <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/media/100.html" title="哔哩哔哩动画Mac版" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513111346229.png" alt="哔哩哔哩动画Mac版" title="哔哩哔哩动画Mac版" />
                                <div class="textBox">
                                    <h2>哔哩哔哩动画Mac版</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.0.0</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                            <div class="btmWrap">哔哩哔哩动画Mac版是哔哩哔哩弹幕网在 Mac 平台上的 Mac 播放客户端，哔哩哔哩动画Mac版为广大的 Mac 用...</div>
                        </a>
                    </div>
    				                    <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/media/99.html" title="QuickLook Video for Mac" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513111316791.png" alt="QuickLook Video for Mac" title="QuickLook Video for Mac" />
                                <div class="textBox">
                                    <h2>QuickLook Video for Mac</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.0.0</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                            <div class="btmWrap">QuickLook Video Mac版是Mac平台上的一款流媒体播放工具。QuickLook Video Mac版安装后，可以让macOS系统...</div>
                        </a>
                    </div>
    				                    <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/media/98.html" title="QQ影音Mac版" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513111154630.png" alt="QQ影音Mac版" title="QQ影音Mac版" />
                                <div class="textBox">
                                    <h2>QQ影音Mac版</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.0.0</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                            <div class="btmWrap">QQ影音Mac版是Mac平台上的一款最经典的本地影音播放器。QQ影音Mac版是一款支持丰富视频、音频文件格式的本地播放器</div>
                        </a>
                    </div>
    				                    <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/media/97.html" title="迅雷影音Mac版" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513111120528.png" alt="迅雷影音Mac版" title="迅雷影音Mac版" />
                                <div class="textBox">
                                    <h2>迅雷影音Mac版</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.0.0</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                            <div class="btmWrap">迅雷影音Mac版是Mac平台上的一款非常棒的专业视频电影播放器。迅雷影音Mac版支持海量格式，多种画面滤镜，支持...</div>
                        </a>
                    </div>
    				                    <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/tool/96.html" title="Vixer Mac版" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513110901411.png" alt="Vixer Mac版" title="Vixer Mac版" />
                                <div class="textBox">
                                    <h2>Vixer Mac版</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.0.0</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                            <div class="btmWrap">Vixer Mac版是Mac平台上的一款视频编辑应用。Vixer Mac版是一个简单，快速和直观的应用程序，允许您实时应用...</div>
                        </a>
                    </div>
    				                    <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/tool/95.html" title="iMovie for Mac" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513110619341.png" alt="iMovie for Mac" title="iMovie for Mac" />
                                <div class="textBox">
                                    <h2>iMovie for Mac</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.0.0</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                            <div class="btmWrap">iMovie for Mac乃是苹果官方出品的专为Mac OS平台设计的视频剪辑软件，是Macintosh电脑上的应用程序套装iLi...</div>
                        </a>
                    </div>
    				                    <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/design/94.html" title="Adobe Flash Professional CC for Mac" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513110510860.jpg" alt="Adobe Flash Professional CC for Mac" title="Adobe Flash Professional CC for Mac" />
                                <div class="textBox">
                                    <h2>Adobe Flash Professional CC for Mac</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.0.0</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                            <div class="btmWrap">Adobe Flash Professional CC for Mac是Adobe公司发布的Adobe Flash CC Mac OS平台中文正式版，是Ado...</div>
                        </a>
                    </div>
    				                    <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/tool/93.html" title="Final Cut Pro X" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513110331374.png" alt="Final Cut Pro X" title="Final Cut Pro X" />
                                <div class="textBox">
                                    <h2>Final Cut Pro X</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.0.0</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                            <div class="btmWrap">Final Cut Pro X 是Mac OS平台上最好的视频剪辑软件，Final Cut Pro X为原生64位软件，基于Cocoa编写...</div>
                        </a>
                    </div>
    				                </div>
			    <div id="pageGroup"><span class="pageinfo">共<strong>9</strong>页<strong>104</strong>条记录</span><a href="http://anduin.duoguyu.com/soft/list_1.html" class="homepage">首页</a><a href="http://anduin.duoguyu.com/soft/list_1.html" class="nopage">上页</a><a href="http://anduin.duoguyu.com/soft/list_1.html" class="listpage curpage">1</a><a href="http://anduin.duoguyu.com/soft/list_2.html" class="listpage">2</a><a href="http://anduin.duoguyu.com/soft/list_3.html" class="listpage">3</a><a href="http://anduin.duoguyu.com/soft/list_4.html" class="listpage">4</a><a href="http://anduin.duoguyu.com/soft/list_5.html" class="listpage">5</a><a href="http://anduin.duoguyu.com/soft/list_2.html" class="nextpage">下页</a><a href="http://anduin.duoguyu.com/soft/list_9.html" class="endpage">尾页</a></div>
			    
        	</div>
            
            <!-- 推广 -->
			<div class="adWrapper full">
			    <div class="item">
			        <div class="content"><a href="https://www.duoguyu.com/?v=varian" target="_blank" title="1600x164"><img src="picture/200514031732954.jpg"></a></div>
			    </div>
			</div>
			    
            <!-- 猜你喜欢 -->
            <div class="mb20">
                <div class="titleWrapper">
                    <h3 class="title"><b>猜你喜欢</b></h3>
                </div>
                <div class="articleWrapper">
    				        		                        <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/tool/39.html" title="[付费]HandShaker 2019 for Mac" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513093420157.png" alt="[付费]HandShaker 2019 for Mac" title="[付费]HandShaker 2019 for Mac" />
                                <div class="textBox">
                                    <h2>[付费]HandShaker 2019 for Mac</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.0.0</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                        </a>
                    </div>
    				                    <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/design/4.html" title="Adobe Photoshop 2020" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200511012504432.png" alt="Adobe Photoshop 2020" title="Adobe Photoshop 2020" />
                                <div class="textBox">
                                    <h2>Adobe Photoshop 2020</h2>
                                    <p>
                                        <span class="mr5">演示版</span><span class="mr5">其他语言</span><span class="mr5">v12.1.0</span><span class="mr5">国外软件</span>
             						</p>
                                </div>
                            </div>
                        </a>
                    </div>
    				                    <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/media/3.html" title="多闪 国际版" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513085045148.png" alt="多闪 国际版" title="多闪 国际版" />
                                <div class="textBox">
                                    <h2>多闪 国际版</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.2.1</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                        </a>
                    </div>
    				                    <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/chat/80.html" title="政务微信Mac版" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513104307211.png" alt="政务微信Mac版" title="政务微信Mac版" />
                                <div class="textBox">
                                    <h2>政务微信Mac版</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.0.0</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                        </a>
                    </div>
    				                    <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/office/30.html" title="PDFlux 2020 for Mac" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513092509699.png" alt="PDFlux 2020 for Mac" title="PDFlux 2020 for Mac" />
                                <div class="textBox">
                                    <h2>PDFlux 2020 for Mac</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.0.0</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                        </a>
                    </div>
    				                    <div class="itemArticle">
                        <a class="contentWrap" href="http://anduin.duoguyu.com/media/98.html" title="QQ影音Mac版" target="_blank">
                            <div class="topWrap">
                                <img class="img" src="picture/200513111154630.png" alt="QQ影音Mac版" title="QQ影音Mac版" />
                                <div class="textBox">
                                    <h2>QQ影音Mac版</h2>
                                    <p>
                                        <span class="mr5">免费版</span><span class="mr5">简体中文</span><span class="mr5">v1.0.0</span><span class="mr5">国产软件</span>
             						</p>
                                </div>
                            </div>
                        </a>
                    </div>
    				                </div>
            </div>
            
        </div>
        
			<!--低部-->
			{include file='public/footer'}
			<!--低部end-->
<script>
$(function(){
    scrollTop();
})
var scrollTop = function(){
	var offset = 300,
		offset_opacity = 1200,
		scroll_top_duration = 700,
		$back_to_top = $('.backTop');
	$(window).scroll(function(){
		( $(this).scrollTop() > offset ) ? $back_to_top.addClass('backTopVisible') : $back_to_top.removeClass('backTopVisible cd-fade-out');
		if( $(this).scrollTop() > offset_opacity ) { 
			$back_to_top.addClass('cd-fade-out');
		}
	});
	$back_to_top.on('click', function(event){
		event.preventDefault();
		$('body,html').animate({
			scrollTop: 0 ,
		 	}, scroll_top_duration
		);
	});
};
</script>        
    </div>
    
    <script>
        $(function(){
            indexBestInit();
        });
    	function checkSearch(){
    	    var searchInput = $('#searchInput').val();
    	    var searchVal = $.trim(searchInput);
    	    if(searchVal == ''){
    			layer.msg("哎呀，你好像忘记输入搜索内容了！");
    			return false;
    	    }
    	    if(searchVal.length < 2){
    			layer.msg("搜索关键字至少需要2个字哟！");
    			return false;
    	    }
    		return true;
    	};
        var indexBestInit = function(){
            var indexFocusSwiper = new Swiper ('#topBest', {
		        slidesPerView: 'auto',
                navigation: {
                    nextEl: '#topBest .swiper-button-next',
                    prevEl: '#topBest .swiper-button-prev'
                }
            });
        }
    </script>
</body>
</html>