<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="yzmcms,YzmCMS演示站,开源cms,cms系统" />
    <meta name="description" content="YzmCMS是一款基于YZMPHP开发的一套轻量级开源内容管理系统，YzmCMS简洁、安全、开源、实用，可运行在Linux、Windows、MacOSX、Solaris等各种平台上，专注为公司企业、个人站长快速建站提供解决方案。" />
    <title>专题列表_多骨鱼模板演示站</title>
    <link href="__INDEXST__static/css/dgy.base_1.css" rel="stylesheet" type="text/css" />
    <link href="__INDEXST__static/css/dgy.grid.v_1.css" rel="stylesheet" type="text/css" />
    <link href="__INDEXST__static/css/dgy.nav.t_1.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__INDEXST__static/js/jquery-2.1.4.min.js"></script>
    <link href="__INDEXST__static/css/font_1809908_xpn2c7cw8fi.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__INDEXST__static/js/layer.js"></script>
    <script type="text/javascript" src="__INDEXST__static/js/yzm-front.js"></script>
</head>
<body>
    <div class="baseLayout">
			<!--头部-->
			{include file='public/header'}
			<!--头部end-->
    <div class="wrapper">
        <a href="http://anduin.duoguyu.com/" class="topWrapper">
            <img src="picture/200528095744887.png" class="logo" title="多骨鱼模板演示站" alt="多骨鱼模板演示站">
            <strong>多骨鱼模板演示站</strong>
        </a>
        <div class="minMenu layoutDisplay" id="switchMenu">
            <i class="iconDgy more"></i>
            <i class="iconDgy close"></i>
        </div>
        <div class="navWrapper">
            <a  class="on"  href="http://anduin.duoguyu.com/" title="发现">
                <i class="iconfont icondgy dgy-faxian1"></i><span class="navName">发现</span>
            </a>
            	        			<a  href="http://anduin.duoguyu.com/soft/" title="软件库" >
			    <i class="iconfont icondgy dgy-biaoqian dgy-shangpin"></i><span class="navName">软件库</span>
			    			</a>		
	        			<a  href="http://anduin.duoguyu.com/article/" title="教程" >
			    <i class="iconfont icondgy dgy-biaoqian dgy-zixun"></i><span class="navName">教程</span>
			    			</a>		
	        			<a  href="/special" title="专题"  target="_blank" >
			    <i class="iconfont icondgy dgy-biaoqian dgy-wenjianjia"></i><span class="navName">专题</span>
			    			</a>		
	        			<a  href="http://anduin.duoguyu.com/top/" title="榜单" >
			    <i class="iconfont icondgy dgy-biaoqian dgy-dianzan"></i><span class="navName">榜单</span>
			    			    <i class="iconNew"></i>
			    			</a>		
	        			<a  href="/diyform/index/show/modelid/4.html" title="心愿单"  target="_blank" >
			    <i class="iconfont icondgy dgy-biaoqian dgy-shoucang"></i><span class="navName">心愿单</span>
			    			</a>		
	        			<a  href="http://anduin.duoguyu.com/about/" title="关于" >
			    <i class="iconfont icondgy dgy-biaoqian dgy-shezhi"></i><span class="navName">关于</span>
			    			</a>		
	                </div>
    </div>
    
    <!-- 登录/注册 START -->
    <div class="userHeaderWrapper">
                <a href="http://anduin.duoguyu.com/member/index/login.html" rel="nofollow" target="_blank" class="menuLogin">登录/注册</a>
            </div>
    <!-- 登录/注册 END -->
    <script>
        $(function(){
            $('#switchMenu, #closeMenuBtn').click(function(){
                $('#navGrid').toggleClass('on');
            });
        });
    </script>
    
</div>
        <div class="productGrid">

			<!-- 频道导航 -->
            <div class="fullTabs location">
                <div class="tagWrap">
                    <span class="tagLabel">当前位置:</span>
                    <div class="tagBox">
                        <a href="http://anduin.duoguyu.com/">首页</a>><a href="http://anduin.duoguyu.com/special/index/init.html">专题</a>
                    </div>
                </div>
            </div>
            <div class="mb20">
                <div class="imgTextGrid special">
    		                        	<div class="item">
                        <a href="http://anduin.duoguyu.com/special/index/lists/sid/8.html" class="content" title="潮流社交软件" target="_blank">
                            <div class="tophead">
                                <img class="focus" src="picture/200514120949800.jpg" alt="潮流社交软件">
                            </div>
                            <div class="article">
                                <h2>潮流社交软件</h2>
    				            <p>极具科技感的潮流社交软件</p>
                                <div class="btn">立即获取</div>
                            </div>
                        </a>
                    </div>
    				                	<div class="item">
                        <a href="http://anduin.duoguyu.com/special/index/lists/sid/7.html" class="content" title="热爱生活吧！" target="_blank">
                            <div class="tophead">
                                <img class="focus" src="picture/200514122236367.jpg" alt="热爱生活吧！">
                            </div>
                            <div class="article">
                                <h2>热爱生活吧！</h2>
    				            <p>热爱生活吧！富含情感的小众精品软件。</p>
                                <div class="btn">立即获取</div>
                            </div>
                        </a>
                    </div>
    				                	<div class="item">
                        <a href="http://anduin.duoguyu.com/special/index/lists/sid/6.html" class="content" title="Adobe系列大盘点" target="_blank">
                            <div class="tophead">
                                <img class="focus" src="picture/200514120348395.jpg" alt="Adobe系列大盘点">
                            </div>
                            <div class="article">
                                <h2>Adobe系列大盘点</h2>
    				            <p>通过数字体验改变世界的Adobe软件集合</p>
                                <div class="btn">立即获取</div>
                            </div>
                        </a>
                    </div>
    				                	<div class="item">
                        <a href="http://anduin.duoguyu.com/special/index/lists/sid/5.html" class="content" title="程序猿专场" target="_blank">
                            <div class="tophead">
                                <img class="focus" src="picture/200514114338867.jpg" alt="程序猿专场">
                            </div>
                            <div class="article">
                                <h2>程序猿专场</h2>
    				            <p>提升开发效率的程序猿GG专属软件</p>
                                <div class="btn">立即获取</div>
                            </div>
                        </a>
                    </div>
    				                	<div class="item">
                        <a href="http://anduin.duoguyu.com/special/index/lists/sid/4.html" class="content" title="自媒体工具" target="_blank">
                            <div class="tophead">
                                <img class="focus" src="picture/200514112518465.jpg" alt="自媒体工具">
                            </div>
                            <div class="article">
                                <h2>自媒体工具</h2>
    				            <p>满满诚意，献给骄傲的自媒体创业者们</p>
                                <div class="btn">立即获取</div>
                            </div>
                        </a>
                    </div>
    				                	<div class="item">
                        <a href="http://anduin.duoguyu.com/special/index/lists/sid/3.html" class="content" title="设计师清单" target="_blank">
                            <div class="tophead">
                                <img class="focus" src="picture/200514111427738.jpg" alt="设计师清单">
                            </div>
                            <div class="article">
                                <h2>设计师清单</h2>
    				            <p>创造力！优秀设计师专属软件</p>
                                <div class="btn">立即获取</div>
                            </div>
                        </a>
                    </div>
    				                	<div class="item">
                        <a href="http://anduin.duoguyu.com/special/index/lists/sid/2.html" class="content" title="商务效率" target="_blank">
                            <div class="tophead">
                                <img class="focus" src="picture/200514105423616.jpg" alt="商务效率">
                            </div>
                            <div class="article">
                                <h2>商务效率</h2>
    				            <p>提升办公效率最佳套装</p>
                                <div class="btn">立即获取</div>
                            </div>
                        </a>
                    </div>
    				                	<div class="item">
                        <a href="http://anduin.duoguyu.com/special/index/lists/sid/1.html" class="content" title="装机必备" target="_blank">
                            <div class="tophead">
                                <img class="focus" src="picture/200514095547936.jpg" alt="装机必备">
                            </div>
                            <div class="article">
                                <h2>装机必备</h2>
    				            <p>整套最佳装机必备软件</p>
                                <div class="btn">立即获取</div>
                            </div>
                        </a>
                    </div>
    				                </div>
    		    <div id="pageGroup"><span class="pageinfo">共8条记录</span><a href="http://anduin.duoguyu.com/special/index/init/page/1.html" class="homepage">首页</a><a href="http://anduin.duoguyu.com/special/index/init/page/1.html" class="nopage">上页</a><a href="http://anduin.duoguyu.com/special/index/init/page/1.html" class="listpage curpage">1</a><a href="http://anduin.duoguyu.com/special/index/init/page/1.html" class="nopage">下页</a><a href="http://anduin.duoguyu.com/special/index/init/page/1.html" class="endpage">尾页</a></div>
            </div>

            <!-- 推广 -->
            <div class="adWrapper full layoutHide">
                <div class="content"><a href="https://www.duoguyu.com/?v=varian" target="_blank" title="1600x164"><img src="picture/200514031732954.jpg"></a></div>
            </div>
        </div>
			<!--低部-->
			{include file='public/footer'}
			<!--低部end-->
<script>
$(function(){
    scrollTop();
})
var scrollTop = function(){
	var offset = 300,
		offset_opacity = 1200,
		scroll_top_duration = 700,
		$back_to_top = $('.backTop');
	$(window).scroll(function(){
		( $(this).scrollTop() > offset ) ? $back_to_top.addClass('backTopVisible') : $back_to_top.removeClass('backTopVisible cd-fade-out');
		if( $(this).scrollTop() > offset_opacity ) { 
			$back_to_top.addClass('cd-fade-out');
		}
	});
	$back_to_top.on('click', function(event){
		event.preventDefault();
		$('body,html').animate({
			scrollTop: 0 ,
		 	}, scroll_top_duration
		);
	});
};
</script>    </div>
</body>
</html>