{include file='public/meta' }
  <title>查看信息 - 木鱼内容管理系统</title>
</head>
<body>
  <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
      <div class="layui-form-item">
      <label class="layui-form-label">会员：</label>
      <div class="layui-input-inline">
        <div class="layui-form-mid layui-word-aux">{$user.name}</div>
      </div>
    </div>
    
    <div class="layui-form-item">
      <label class="layui-form-label">介绍：</label>
      <div class="layui-input-inline">
        <div class="layui-form-mid layui-word-aux">{$user.intro}</div>
      </div>
    </div>
    
      <div class="layui-form-item">
      <label class="layui-form-label">手机：</label>
      <div class="layui-input-inline">
        <div class="layui-form-mid layui-word-aux">{$user.phone}</div>
      </div>
     </div>
    
    <div class="layui-form-item">
      <label class="layui-form-label">邮箱：</label>
      <div class="layui-input-inline">
       
        <div class="layui-form-mid layui-word-aux">{$user.email}</div>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">留言时间：</label>
      <div class="layui-input-inline">
        
        <div class="layui-form-mid layui-word-aux">{:date('Y-m-d H:i:s',$feedback.create_time)}</div>
      </div>
    </div>
    
    <div class="layui-form-item">
      <label class="layui-form-label">留言内容：</label>
      <div class="layui-input-inline">
        <div class="layui-form-mid layui-word-aux">{$feedback.content}</div>
      </div>
    </div>
    
  </div>
  <!--_footer 作为公共模版分离出去-->
{include file='public/footer' }
  <!--/_footer /作为公共模版分离出去-->
    <script>
layui.config({
    base: '__ADMINST__layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'upload'], function(){
    var $ = layui.$
    ,form = layui.form ;
  })

  </script>
</body>
</html>
