{include file='public/meta' }
	<title>意见反馈 - 木鱼内容管理系统</title>
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
              <div class="layui-inline">
                <label class="layui-form-label">留言查找</label>
                <div class="layui-input-block">
                  <input type="text" name="keywords" id="keywords" placeholder="请输入关键词" autocomplete="off" class="layui-input">
                </div>
              </div>
              
              <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-useradmin" type="submit" onclick="so()">
                  <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
              </div>
            </div>
        </div>
          
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layui-btn-danger layuiadmin-btn-useradmin" onclick="delAll()"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
                <button class="layui-btn layuiadmin-btn-useradmin" onclick="openAll()">一键已读</button>
            </div>
            <div class="layui-table-body layui-table-main">
                <table class="layui-table">
                    <thead>
				        <tr>
        					<th class=" layui-table-col-special">
        						<div class="layui-table-cell laytable-cell-checkbox">
        							<input type="checkbox" id="checkAll" onclick="isCheck()">
        						</div>
        					</th>
        					<th><div class="layui-table-cell" align="center"><span>ID</span></div></th>
        					<th><div class="layui-table-cell" align="center"><span>会员</span></div></th>
        					<th><div class="layui-table-cell" align="center"><span>内容</span></div></th>
        					<th><div class="layui-table-cell" align="center"><span>时间</span></div></th>
        					<th><div class="layui-table-cell" align="center"><span>状态</span></div></th>
        					<th><div class="layui-table-cell" align="center"><span>操作</span></div></th>
				        </tr>
				    </thead>
				    <tbody>
    				{foreach $feedback as $v}
    				<tr align="center">
    					<td class="layui-table-col-special">
    						<input type="checkbox" name="fav" value="{$v.id}">
    					</td>
    					<td>{$v.id}</td>
    					{if condition="!empty($v['memname'])"}
    					<td>
    					    {foreach $v['memname'] as $va}
    					    {$va.name}
    					    {/foreach}
    					</td>
    					{else}
    					<td>匿名</td>
    					{/if}
    					<td>{$v.content}</td>
    					<td>{:date("Y-m-d",$v.create_time)}</td>
    					
    					<td><div class="layui-table-cell">
    						<button type="button" class="layui-btn-xs layui-btn layui-btn-{php}echo $v['status']=='已读' ? 'btn':'danger';{/php}">{$v.status}</button>
    						</div>
    					</td>
    					<td align="center" data-off="true" class="layui-table-col-special">
    					<div class="layui-table-cell">
    						
    						<button type="button" class="layui-btn layui-btn-xs" onclick="openkan('查看信息','{:url('admin/Feedback/edit')}'+'?id='+{$v.id}+'&ids='+{$v.uid},{$v.id})"><i class="layui-icon layui-icon-search"></i>查看</button>
    						<button type="button" class="layui-btn layui-btn-xs layui-btn-danger" onclick="ondel({$v.id})"><i class="layui-icon layui-icon-delete"></i>删除</button>
    						</div>
    					</td>
    				</tr>
    				{/foreach}
    				</tbody>
                </table>
            </div>
        </div>
    </div>
  </div>





	
	<!--_footer 作为公共模版分离出去-->
	{include file='public/footer' }
	<!--/_footer /作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
  layui.config({
    base: '__ADMINST__layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'useradmin', 'table'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table;
  });
      

	//查看信息
	function openkan(title,url,id){
	    layer.open({
	        type:2,
	        title:title,
	        content:url,
	        shade:0.3,
	        area:['40%','60%'],
	        end:function(){
	            $.post(url,{id:id},function(data){
	                location.reload();//数据刷新
	            });
	        }
	    });
	}
	
	//删除操作
	function ondel(id){
	    layer.msg("确认删除？",{
	        time:5000,
	        shade:0.3,
	        btn:['删除','取消'],
	        yes:function(){
	            $.post("{:url('admin/Feedback/deletes')}",{id:id},function(data){
	                if(data.code == 1){
	                    layer.msg(data.msg,{time:2000},function(){
	                        if(data.url)location.href = data.url;
	                    });
	                }else{
	                    layer.msg(data.msg,{time:2000});
	                }
	            });
	        }
	    });
	}


	//全选功能
	function isCheck(){
		var IsCheck= document.getElementById("checkAll");
		if(IsCheck.checked == false){
			var groupC = document.getElementsByName("fav");
			for(var i=0;i<groupC.length;i++){
				groupC[i].checked=false;
			}
		}
		if(IsCheck.checked == true){
			var groupC = document.getElementsByName("fav");
			for(var i=0;i<groupC.length;i++){
				groupC[i].checked=true;
			}
		}
	}


		
	//批量删除
	function delAll(){
	    var id = $("tbody input:checkbox");
	    var ids = [];
	    for(i=0;i<id.length;i++){
	        if($(id[i]).is(":checked")){
	            ids +=$(id[i]).val()+',';
	        }
	    }
	    //console.log(ids);
	    var delid = ids;
	    if(delid != "" && delid != null){
	        layer.msg("确认删除？",{
	            time:5000,
	            shade:0.3,
	            btn:['删除','取消'],
	            yes:function(){
	                $.post("{:url('admin/Feedback/deletes')}",{id:delid},function(data){
	                    if(data.code == 1){
	                        layer.msg(data.msg,{time:2000},function(){
	                            if(data.url) location.href = data.url;
	                        });
	                    }else{
	                        layer.msg(data.msg,{time:2000});
	                    }
	                });
	            }
	        });
	    }else{
	        layer.msg("当前未选择任何信息！",{icon:2,time:2000});
	    }
	}
	
	//一键已读
	function openAll(){
	    var id = $("tbody input:checkbox");
	    var ids = [];
	    for(i=0;i<id.length;i++){
	        if($(id[i]).is(":checked")){
	            ids +=$(id[i]).val()+',';
	        }
	    }
	    //console.log(ids);
	    var delid = ids;
	    if(delid != "" && delid != null){
	        layer.msg("确认已读？",{
	            time:5000,
	            shade:0.3,
	            btn:['确认','取消'],
	            yes:function(){
	                $.post("{:url('admin/Feedback/states')}",{id:delid},function(data){
	                    if(data.code == 1){
	                        layer.msg(data.msg,{time:2000},function(){
	                            if(data.url) location.href = data.url;
	                        });
	                    }else{
	                        layer.msg(data.msg,{time:2000});
	                    }
	                });
	            }
	        });
	    }else{
	        layer.msg("当前未选择任何信息！",{icon:2,time:2000});
	    }
	}
		


	//点击搜索执行
	function so() {
		var keywords = $('#keywords').val();
		if(keywords ==""){
			layer.msg("请输入搜索内容!", {time: 2000});
		}else{
			layer.open({
				type:2,
				area:['100%','100%'],
				content:'{:url('Feedback/search')}'+'?keywords='+ keywords,
				end:function(){
					location.reload();
				}
			});
		}
	}
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
