@font-face {font-family: "iconfont";
  src: url('../fonts/font_1809908_xpn2c7cw8fi.eot'); /* IE9 */
  src: url('../fonts/font_1809908_xpn2c7cw8fi.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/9890cc2bd9e542f39412865b6388170e.woff') format('woff2'),
  url('../fonts/font_1809908_xpn2c7cw8fi.woff') format('woff'),
  url('../fonts/font_1809908_xpn2c7cw8fi.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/font_1809908_xpn2c7cw8fi.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dgy-biaoqian:before {
  content: "\e637";
}

.dgy-bukejian:before {
  content: "\e638";
}

.dgy-biaoqian1:before {
  content: "\e639";
}

.dgy-bingzhuangtu:before {
  content: "\e63a";
}

.dgy-bianji:before {
  content: "\e63b";
}

.dgy-cunchuqia:before {
  content: "\e63c";
}

.dgy-dakaiquanxian:before {
  content: "\e63d";
}

.dgy-dianzan:before {
  content: "\e63e";
}

.dgy-dingdan:before {
  content: "\e63f";
}

.dgy-dingwei:before {
  content: "\e640";
}

.dgy-erweima:before {
  content: "\e641";
}

.dgy-yinhangqia:before {
  content: "\e642";
}

.dgy-faxian:before {
  content: "\e643";
}

.dgy-fanhui:before {
  content: "\e644";
}

.dgy-fenxiang:before {
  content: "\e645";
}

.dgy-dianhua:before {
  content: "\e646";
}

.dgy-fenxiang1:before {
  content: "\e647";
}

.dgy-fujian:before {
  content: "\e648";
}

.dgy-fuwuqi:before {
  content: "\e649";
}

.dgy-faxian1:before {
  content: "\e64a";
}

.dgy-gengduo:before {
  content: "\e64b";
}

.dgy-gonggao:before {
  content: "\e64c";
}

.dgy-gouwuche:before {
  content: "\e64d";
}

.dgy-guanzhu:before {
  content: "\e64e";
}

.dgy-guoji:before {
  content: "\e64f";
}

.dgy-huiyuan:before {
  content: "\e650";
}

.dgy-haiguan:before {
  content: "\e651";
}

.dgy-jihuashu:before {
  content: "\e652";
}

.dgy-huoche:before {
  content: "\e653";
}

.dgy-jinqian:before {
  content: "\e654";
}

.dgy-kejian:before {
  content: "\e655";
}

.dgy-jingbao:before {
  content: "\e656";
}

.dgy-kehu:before {
  content: "\e657";
}

.dgy-lianxiren:before {
  content: "\e658";
}

.dgy-kefu:before {
  content: "\e659";
}

.dgy-luxiang:before {
  content: "\e65a";
}

.dgy-luyin:before {
  content: "\e65b";
}

.dgy-lunchuan:before {
  content: "\e65c";
}

.dgy-pifu:before {
  content: "\e65d";
}

.dgy-piao:before {
  content: "\e65e";
}

.dgy-mima:before {
  content: "\e65f";
}

.dgy-qidong:before {
  content: "\e660";
}

.dgy-pinglun:before {
  content: "\e661";
}

.dgy-qianbao:before {
  content: "\e662";
}

.dgy-qunzu:before {
  content: "\e663";
}

.dgy-shanchu:before {
  content: "\e664";
}

.dgy-saoma:before {
  content: "\e665";
}

.dgy-shangpin:before {
  content: "\e666";
}

.dgy-rili:before {
  content: "\e667";
}

.dgy-shangwu:before {
  content: "\e668";
}

.dgy-shezhi:before {
  content: "\e669";
}

.dgy-shipin:before {
  content: "\e66a";
}

.dgy-shijianxuanzeqi:before {
  content: "\e66b";
}

.dgy-shoucang:before {
  content: "\e66c";
}

.dgy-sousuo:before {
  content: "\e66d";
}

.dgy-shuaxin:before {
  content: "\e66e";
}

.dgy-tishi:before {
  content: "\e66f";
}

.dgy-tianjiahaoyou:before {
  content: "\e670";
}

.dgy-tianjia:before {
  content: "\e671";
}

.dgy-wancheng:before {
  content: "\e672";
}

.dgy-wenjianjia:before {
  content: "\e673";
}

.dgy-tupian:before {
  content: "\e674";
}

.dgy-wenjian:before {
  content: "\e675";
}

.dgy-wode:before {
  content: "\e676";
}

.dgy-wuliu:before {
  content: "\e677";
}

.dgy-hanglixiang:before {
  content: "\e678";
}

.dgy-hanglixiang1:before {
  content: "\e679";
}

.dgy-youjian:before {
  content: "\e67a";
}

.dgy-xiangji:before {
  content: "\e67b";
}

.dgy-zhengjian:before {
  content: "\e67c";
}

.dgy-zhexiantu:before {
  content: "\e67d";
}

.dgy-zhuye:before {
  content: "\e67e";
}

.dgy-zhuzhuangtu:before {
  content: "\e67f";
}

.dgy-zixun:before {
  content: "\e680";
}

.dgy-zuixiaohua:before {
  content: "\e681";
}

.dgy-HSbianma:before {
  content: "\e682";
}

