{include file='public/meta' }
  <title>查看日志 - 木鱼内容管理系统</title>
</head>
<body>
  <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
      
      <div class="layui-form-item">
      <label class="layui-form-label">管理员：</label>
      <div class="layui-input-inline">
        <div class="layui-form-mid layui-word-aux">{$user.name}</div>
      </div>
    </div>
    
    <div class="layui-form-item">
      <label class="layui-form-label">邮箱：</label>
      <div class="layui-input-inline">
        <div class="layui-form-mid layui-word-aux">{$user.email}</div>
      </div>
    </div>
    {if ($log.user_id !== 0)}
      <div class="layui-form-item">
      <label class="layui-form-label">注册时间：</label>
      <div class="layui-input-inline">
        <div class="layui-form-mid layui-word-aux">{:date('Y-m-d H:i:s',$user.create_time)}</div>
      </div>
     </div>
    {/if}
    <div class="layui-form-item">
      <label class="layui-form-label">客户端IP：</label>
      <div class="layui-input-inline">
       
        <div class="layui-form-mid layui-word-aux">{$log.log_ip}</div>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">操作时间：</label>
      <div class="layui-input-inline">
        
        <div class="layui-form-mid layui-word-aux">{:date('Y-m-d H:i:s',$log.log_time)}</div>
      </div>
    </div>
    
    <div class="layui-form-item">
      <label class="layui-form-label">记录内容：</label>
      <div class="layui-input-inline">
        <div class="layui-form-mid layui-word-aux">{$log.content}</div>
      </div>
    </div>
    
  </div>
  <!--_footer 作为公共模版分离出去-->
{include file='public/footer' }
  <!--/_footer /作为公共模版分离出去-->
    <script>
layui.config({
    base: '__ADMINST__layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'upload'], function(){
    var $ = layui.$
    ,form = layui.form ;
  })

  </script>
</body>
</html>
