* { margin: 0; padding: 0; }
html { height: 100%; }
body { background: #fff;}
ol li {
	list-style: decimal outside;
}
ol{
	padding:0 0 0 18px;
	margin:0;
}
li {
	list-style:none;
}
.loging{
	overflow: auto;
	margin: 0 auto;
	width: 700px;
	height: auto !important;
	text-align: left;
	border: 1px solid #e8e8e8;
	margin-top: 100px;
}
.loging-fom{
	background: #ffffffad;
	border-radius:4px;
	box-shadow: 5px 5px 20px #4444;
	padding: 20px;
}
.rigspan{
	float: right;
	display: inline-block;
	font-size: 15px;
}
.mys{
	zoom:1;
}
.mys:after{
	content:'\20';
	display:block;
	height:0;
	clear:both;
	visibility: hidden;
}
.insmain{
	padding:10px 10px;
	text-align:center ;
}
.insmain{
	text-align: center;
}
.cont{
	box-shadow:5px 5px 5px #f7f7f7 inset;
	border:1px solid rgba(189, 188, 188, 0.51);
	height:400px;
	padding:10px;
	overflow:auto;
	display:block;
	overflow-x: hidden;
	overflow-y: scroll;
	margin:0 auto;
	font-size:12px;
	margin-bottom:22px;
	outline:none;
	text-align: left;
}
pre{
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	word-break : normal;
}
#xieyi::-webkit-scrollbar {
        display: none;
}
.layui-form-checkbox[lay-skin=primary]{
	left: 10px;
}
.loging-fom h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 140px;
    text-align: right;
    height: 140px;
    position: absolute;
    z-index: 1;
    top: 0;
    margin-left: 500px;
}
.loging-fom table td span.yes i { background-position: 0 -30px;}
.loging-fom table td span.no i { background-position: -16px -30px;}
.loging-fom table td span.no { color: #F33;}
.loging-fom table caption { font-size: 18px; line-height: 24px; color: #7E8C8D; text-align: left; padding: 5px 1%;}
